@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

#dare {
  background-color: #d8465e;
}

#truth {
  background-color: #46d88f;
}

#answer {
  /*text-decoration: underline;
*/}

h1 {
 /* background-color: #46d88f;
  border: #2b2b2b solid 1px;*/
  width: 700px;
  /*box-shadow: #2b2b2b 10px 10px 10px;*/
}

button {
  border: none;
  border-radius: 25px;
  color: #2b2b2b;
  cursor: pointer;
  box-shadow: #C3C3C2 7px 7px 7px;
  height: 200px;
  width: 400px;
  font-size: 100px;
}

button:active {
  box-shadow: #C3C3C2 0px 0px 0px;
  transform: translateY(4px);
}
